<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Angelos Giannourakos</title>
</head>
<body>
    <main class="bg-slate-800 min-h-screen">
        <section class="mx-auto w-1/2 border-b border-blue-500 flex flex-col items-center justify-center text-white md:flex-row">
            

                <div class="rounded-full m-3 w-52 h-52 bg-slate-400 flex items-center justify-center">
                    <img src="../public/images/me-portait-02.jpg" class="rounded-full w-48 h-48" alt="Angelos Giannourakos">
                </div>
                <div class="md:flex-col">
                    <h1 class="text-2xl font-bold">Angelos Giannourakos</h1>    
                    <h2 class="text-xl font-semibold"> Web Developer</h2>
                    <a href="mailto:angelosgian@protonmail.com">
                        <h3 class="font-mono font-light">angelosgian@protonmail.com</h3>
                    </a>
                </div>
            
        
        </section>
        <section class="mx-auto w-1/2 border-b border-blue-500 grid text-white">
            
            <h2 class="text-xl text-center font-semibold">About</h2>
            <p>
                My story is simple 
            </p>
        
        </section>
    </main>
</body>
</html>