<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Angelos Giannourakos</title>
</head>
<body>
    <section class="container bg-slate-800 flex flex-col items-center text-white mt-3 min-h-screen md:flex-row">
        <div class="rounded-full m-3 w-80 h-80 bg-slate-400 flex items-center justify-center">
            <img src="../public/images/me-portait-02.jpg" class="rounded-full w-72 h-72 "alt="Angelos Giannourakos">
        </div>
        <h1 class="text-2xl font-bold">Angelos Giannourakos</h1>    
        <h2 class="text-xl font-light"> Web Developer</h2>
        <a href="mailto:angelosgian@protonmail.com">
            <h3 class="font-mono">angelosgian@protonmail.com</h3>
        </a>
    </section>  
</body>
</html>